.about {
  padding-top: 160px;
  padding-bottom: 160px;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.about-subtitel {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-subtitel-color);
  margin-bottom: 10px;
}
.about-titel {
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: var(--main-titel-color);
  max-width: 559px;
  margin-bottom: 33px;
}
.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.75);
  max-width: 431px;
}
.about-photo {
  width: 559px;
  height: 400px;
}
@media (max-width: 1200px) {
  .about-titel {
    font-size: 50px;
  }
  .about-photo {
    width: 450px;
    height: auto;
  }
  .about-text {
    font-size: 17px;
  }
}

@media (max-width: 992px) {
  .about-container {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
  .about-info,
  .about-photo {
    max-width: 100%;
    text-align: start;
  }
  .about-photo {
    width: 100%;
    height: auto;
  }
  .about-titel {
    font-size: 40px;
  }
  .about-text {
    font-size: 16px;
    max-width: 100%;
  }
}
@media (max-width: 658px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
