.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 15px;
  z-index: 10;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.logo-img {
  width: 145px;
  height: 79px;
}
.header-list {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 25px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.15);
  padding: 12px 25px;
  border-radius: 8px;
}
.header-link {
  font-size: 16px;
  color: var(--text-color-header);
  &:hover {
    opacity: 0.4;
    transition: opacity 0.2s ease;
  }
}
.header-phone {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contact:hover .icon-phone-logo {
  opacity: 0.8;
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}
.icon-phone-logo {
  width: 22px;
  height: 22px;
  fill: var(--text-color-header);
  stroke-width: 1px;
}
.header-phonen-Number {
  font-size: 16px;
  color: var(--text-color-header);
  &:hover {
    text-decoration: underline;
  }
}
.header-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
/* ==========opne-close-btn======================== */
.header-open-close {
  --burger-size: 24px;
  --burger-line: 3px;
  --burger-color: var(--text-color-header);

  width: 30px;
  height: var(--burger-size);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
  position: absolute;
  right: 20px;
  transition: transform 0.3s ease;
}

.header-open-close:hover {
  transform: scale(1.1);
}

.header-open-close span {
  display: block;
  height: var(--burger-line);
  width: 100%;
  background-color: var(--burger-color);
  border-radius: 50px;
  transition: transform 0.3s ease, opacity 0.2s ease, width 0.2s ease;
  transform-origin: center;
}
.header-open-close.open span:nth-child(1) {
  transform: translateY(calc(var(--burger-size) / 2 - var(--burger-line) / 2))
    rotate(-45deg);
}

.header-open-close.open span:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

.header-open-close.open span:nth-child(3) {
  transform: translateY(calc(var(--burger-size) / -2 + var(--burger-line) / 2))
    rotate(45deg);
}
.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 998;
  padding: 60px 20px;
}
.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
  padding-bottom: 35px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.411);
}

.mobile-nav-list {
  color: var(--text-color-header);
  font-weight: 400;
  font-size: 30px;
}
.mobile-nav.active {
  right: 0;
}
/* ========mobile-contacts========================= */
.mobile-contacts {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.mobile-background-icon {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background: rgba(0, 0, 0, 0.33);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-icon {
  width: 25px;
  height: 25px;
}
.mobile-contacts-link {
  font-weight: 400;
  font-size: 23px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1200px) {
  .header-phonen-Number {
    display: none;
  }
  .logo-img {
    width: 120px;
    height: 60px;
  }
  .header-link {
    font-size: 14px;
  }
  .header-list {
    gap: 20px;
    padding: 10px 20px;
  }
  .header-phone {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 658px) {
  .header-list {
    display: none;
  }
  .header-contact {
    display: none;
  }
  .logo-img {
    width: 140px;
    height: 80px;
  }
  .header-open-close {
    display: flex;
  }
}
