.pages-body {
  background-color: #f8f5f2;
  padding-top: 60px;
  padding-bottom: 60px;
}
.back {
  background-color: var(--header-button-color);
  color: var(--main-subtitel-color);
  padding: 10px 24px;
  border-radius: 8px;
}
.pages-titel {
  font-size: 40px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pages-subtitel {
  font-size: 30px;
  margin-bottom: 6px;
  color: #332626;
}
.pages-text {
  font-size: 15px;
  max-width: 650px;
  color: #000000bb;
  margin-bottom: 20px;
}
@media (max-width: 658px) {
  .pages-titel {
    font-size: 27px;
  }
  .pages-subtitel {
    font-size: 23px;
  }
}
