.team {
}

.team-subtitel {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-subtitel-color);
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.team-titel {
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: var(--main-titel-color);
  margin-bottom: 33px;
  max-width: 559px;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.member {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: #97959538;
  border-radius: 8px;
}

.member-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.member-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* текст по левому краю */
}

.member-name {
  font-size: 24px;
  margin-bottom: 5px;
  color: var(--main-titel-color);
}

.member-info p {
  font-size: 0.95rem;
  color: var(--main-text-color);
  line-height: 1.4;
}

/* Адаптив */
@media (max-width: 768px) {
  .team-titel {
    font-size: 40px;
    max-width: 100%;
  }
  .member {
    flex-direction: row;
    gap: 15px;
  }
  .member-photo {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .team-titel {
    font-size: 40px;
  }
  .member {
    flex-direction: column;
    align-items: flex-start;
  }
  .member-photo {
    width: 120px;
    height: 120px;
  }
  .member-name {
    font-size: 20px;
  }
}
