body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #afb1b8;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.contakts__photo {
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  background-color: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color, transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
  color: #ffffff;
  padding: 10px 32px;
  border-radius: 4px;
}

.section__titel {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

button {
  outline: 0;
  border: 0;
  font-family: inherit;
}

input {
  border: 0px;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

textarea {
  border: 0px;
  outline: none;
}

body {
  overflow: scroll;
}

img {
  display: block;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 800px;
}
