:root {
  --text-color-header: #ffffff;
  --header-button-color: #000;
  --main-titel-color: #453030;
  --main-subtitel-color: #957d62;
  --main-text-color: rgba(0, 0, 0, 0.75);
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-text-color);
  background-color: #f8f5f2;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.bg-img-on {
  background-image: url(../images/photos/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
/* ========================header====================================== */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 15px;
  z-index: 10;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.logo-img {
  width: 145px;
  height: 79px;
}
.header-list {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 25px;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.15);
  padding: 12px 25px;
  border-radius: 8px;
  width: 329px;
}
.header-link {
  font-size: 16px;
  color: var(--text-color-header);
  &:hover {
    opacity: 0.4;
    transition: opacity 0.2s ease;
  }
}
.header-phone {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contact:hover .icon-phone-logo {
  opacity: 0.8;
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}
.icon-phone-logo {
  width: 22px;
  height: 22px;
  fill: var(--text-color-header);
  stroke-width: 1px;
}
.header-phonen-Number {
  font-size: 16px;
  color: var(--text-color-header);
  &:hover {
    text-decoration: underline;
  }
}
.header-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
/* ==========opne-close-btn======================== */
.header-open-close {
  --burger-size: 24px;
  --burger-line: 3px;
  --burger-color: var(--text-color-header);

  width: 30px;
  height: var(--burger-size);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: transform 0.3s ease;
}

.header-open-close:hover {
  transform: scale(1.1);
}

.header-open-close span {
  display: block;
  height: var(--burger-line);
  width: 100%;
  background-color: var(--burger-color);
  border-radius: 50px;
  transition: transform 0.3s ease, opacity 0.2s ease, width 0.2s ease;
  transform-origin: center;
}
.header-open-close.open span:nth-child(1) {
  transform: translateY(calc(var(--burger-size) / 2 - var(--burger-line) / 2))
    rotate(-45deg);
}

.header-open-close.open span:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

.header-open-close.open span:nth-child(3) {
  transform: translateY(calc(var(--burger-size) / -2 + var(--burger-line) / 2))
    rotate(45deg);
}
.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 998;
  padding: 60px 20px;
}
.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}
.mobile-nav-list {
  color: var(--text-color-header);
  font-weight: 400;
  font-size: 30px;
}
.mobile-nav.active {
  right: 0;
}

@media (max-width: 1200px) {
  .header-phonen-Number {
    display: none;
  }
  .logo-img {
    width: 120px;
    height: 60px;
  }
  .header-link {
    font-size: 14px;
  }
  .header-list {
    gap: 20px;
    padding: 10px 20px;
  }
  .header-phone {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 658px) {
  .header-list {
    display: none;
  }
  .header-contact {
    display: none;
  }
  .logo-img {
    width: 140px;
    height: 80px;
  }
  .header-open-close {
    display: flex;
  }
}
/* ======================hero============================ */
.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.17) 100%
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.17) 100%),
    url(../images/photos/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}
.hero-titel {
  font-weight: 400;
  font-size: 120px;
  line-height: 95%;
  color: var(--text-color-header);
  max-width: 670px;
}
.hero-info-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.hero-info-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  max-width: 210px;
  color: var(--text-color-header);
  margin-bottom: 35px;
  margin-top: 35px;
}
.hero-info-btn {
  border-radius: 8px;
  padding: 14px 75px;
  background-color: var(--header-button-color);
  color: var(--text-color-header);
  max-width: 100%;
  text-align: center;
  cursor: pointer;
  /* &:hover {
    background-color: rgb(199, 199, 199);
    transition: background-color 0.2s ease-in;
  } */
}
@media (min-width: 1440px) {
  .hero-container {
    height: 550px;
  }
}
@media (max-width: 1200px) {
  .hero-titel {
    font-size: 90px;
  }
  .hero-info-text {
    font-size: 20px;
    max-width: 180px;
  }
}

@media (max-width: 992px) {
  .hero-info-con {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero-titel {
    font-size: 70px;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .hero-info-text {
    font-size: 18px;
    max-width: 300px;
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .hero-titel {
    font-size: 60px;
    margin-bottom: 20px;
  }
}

@media (max-width: 658px) {
  .hero-titel {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 400;
    max-width: 350px;
    margin-bottom: 20px;
  }
  .hero-info-text {
    max-width: 210px;
    font-size: 25px;
    font-weight: 500;
  }
  .hero-info-btn {
    font-size: 16px;
    max-width: 200px;
  }
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%),
      url(../images/photos/hero-bg.jpg);
  }
  .hero-info-con {
    padding-bottom: 50px;
  }
  .hero-container {
    height: calc(var(--vh, 1vh) * 100);
  }
}
/* ============================== */
.about {
  padding-top: 160px;
  padding-bottom: 160px;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.about-subtitel {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-subtitel-color);
  margin-bottom: 10px;
}
.about-titel {
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: var(--main-titel-color);
  max-width: 559px;
  margin-bottom: 33px;
}
.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.75);
  max-width: 431px;
}
.about-photo {
  width: 559px;
  height: 400px;
}
@media (max-width: 1200px) {
  .about-titel {
    font-size: 50px;
  }
  .about-photo {
    width: 450px;
    height: auto;
  }
  .about-text {
    font-size: 17px;
  }
}

@media (max-width: 992px) {
  .about-container {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
  .about-info,
  .about-photo {
    max-width: 100%;
    text-align: start;
  }
  .about-photo {
    width: 100%;
    height: auto;
  }
  .about-titel {
    font-size: 40px;
  }
  .about-text {
    font-size: 16px;
    max-width: 100%;
  }
}
@media (max-width: 658px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
/* =========================services============================ */
.services {
  padding-top: 160px;
  padding-bottom: 160px;
}
.services-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  background-image: url(../images/photos/ablauf-bg-img.svg);
  background-repeat: no-repeat;
  background-size: 65%;
}
.service-fist-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.service-secound-box {
  width: 470;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.first-box-subtitel {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-subtitel-color);
  margin-bottom: 8px;
}
.services-info {
  display: flex;
  gap: 16px;
}
.first-box-titel {
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: var(--main-titel-color);
  max-width: 568px;
  margin-bottom: 300px;
}
.services-info-photo {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #d6c4af;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-info-icon {
  width: 20px;
  height: 20px;
  fill: var(--text-color-header);
}
.services-info-titel {
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: var(--main-titel-color);
  margin-bottom: 5px;
}
.services-info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.75);
  max-width: 382px;
}
@media (max-width: 1200px) {
  .first-box-titel {
    margin-bottom: 270px;
  }
  .service-secound-box {
    width: 500px;
  }
  .services-info-titel {
    font-size: 24px;
  }
  .services-info-text {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .services-container {
    background-image: none;
  }
  .services-container {
    flex-direction: column;
    align-items: flex-start;
    background-size: 100%;
    gap: 20px;
  }

  .first-box-titel {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .service-secound-box {
    width: 100%;
  }

  .services-info {
    align-items: flex-start;
  }

  .services-info-titel {
    font-size: 22px;
  }

  .services-info-text {
    font-size: 15px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .services {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .first-box-titel {
    font-size: 42px;
  }

  .services-info {
    flex-direction: column;
    gap: 12px;
  }

  .services-info-photo {
    width: 36px;
    height: 36px;
  }

  .services-info-icon {
    width: 18px;
    height: 18px;
  }

  .services-info-titel {
    font-size: 22px;
  }

  .services-info-text {
    font-size: 18px;
  }
}

@media (max-width: 658px) {
  .services {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .first-box-subtitel {
    font-size: 12px;
  }

  .first-box-titel {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  .services-info {
    flex-direction: column;
    gap: 16px;
  }

  .services-info-titel {
    font-size: 22px;
  }

  .services-info-text {
    font-size: 16px;
  }

  .services-info-photo {
    width: 38px;
    height: 38px;
  }

  .services-info-icon {
    width: 20px;
    height: 20px;
  }
}
/* ===============open-close========================= */
/* ==================================footer============================ */
.footer {
  background-color: #372626;
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  width: 145px;
  height: 79px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-link {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-header);
  &:hover {
    text-decoration: underline;
  }
}
@media (max-width: 658px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: self-start;
  }

  .footer-link {
    font-size: 16px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
